.slantedDiv{
    position: relative;
    width: 100%;
    height:100%;
    background-color: aliceblue;
}

.slantedDiv:after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: aliceblue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
    -webkit-transform: skewY(-4deg);
    -moz-transform: skewY(-4deg);
    -ms-transform: skewY(-4deg);
    -o-transform: skewY(-4deg);
    z-index: -1;
}