html {
    height: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    min-height: 100%;
    padding-bottom: 3rem;
}

#topNav {
    background-color: darkorchid;
    height: 60px;
    width: 100%;
    float: left;
    margin-right: 0%;
}

.siteHeader #logo {
    font-family: Monoton, 'Courier New', Courier, monospace;
    color: white;
    padding: 0.5%;
    font-size: 38px;
    overflow-x: auto;
}

#mainHome {
    font-size: 30px;
}

#descptWrap {
    background: black;
    min-height: 200px;
}

div #descpt {
    padding: 2%;
    color: #faebd7;
    font-weight: 800;
}

#homeTextWrap2 {
    background: yellowgreen;
    font-weight: 800;
    min-height: 170px;
}

div #homeText2 {
    padding: 2%;
    padding-left: 5%;
    color: darkslategray;
    font-weight: 800;
    width: 50%;
}

#homeTextWrap3 {
    font-weight: 800;
    padding: 2%;
    min-height: 170;
}

@media(max-width: 768px) {
    #mainHome div {
        font-size: 20px;
        min-height: 100px;
    }
    div #homeText2 {
        width: 90%;
    }
    .siteHeader #logo {
        padding: 0.5%;
        font-size: 25px;
    }
    #topNav {
        min-height: 45px;
    }
    #signUpLink, #logInLink, #aLogin, #logOutlink {
        font-size: 10px;
        overflow-wrap: break-word;
        margin-right: 0;
    }
}

#signUpLink, #logInLink, #logOutlink {
    float: right;
    color: darkslategrey;
    font-weight: 700;
    padding: 0.5%;
}

#signUpWrap {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

#signUpForm, #logInForm {
    justify-content: center;
    vertical-align: centre;
}

#signUpForm input, #logInForm input {
    min-width: 15%;
    padding: 10px;
    font-size: 15px;
    min-height: 40px;
    color: slategray;
    border: 2px solid slategrey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#signUp, #logIn {
    background-image: linear-gradient(darkorchid, rgb(15, 1, 26));
}

form #signUpSub, form #logInSub {
    color: black;
    background-color: slategray;
    border: 2px solid slategrey;
    min-width: 10%;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

body #logInWrap {
    text-align: center;
    border: none;
    margin: auto;
}

.nav_aside {
    height: 100%;
    width: 200px;
    margin-top: 60px;
    position: fixed;
    padding: 0;
    overflow: auto;
    background-color: rgba(26, 3, 56, 0.445);
}

.nav_aside a {
    display: block;
    color: rgb(15, 1, 26);
    font-size: 16px;
    padding: 16px;
    text-decoration: none;
    font-weight: bolder;
    margin-top: 5%;
}

.nav_aside a.active {
    background-color: darkorchid;
    color: white;
}

.nav_aside a:hover:not(.active) {
    color: white;
    background-color: slategray;
}

.nav_aside {
    display: block;
}

.siteBody {
    margin-left: 220px;
    margin-top: 5px;
}

@media(max-width: 768px) {
    .nav_aside {
        width: 100%;
        height: auto;
        position: relative;
        margin-top: 0%;
    }
    .nav_aside a {
        float: left;
    }
    .siteBody {
        margin-left: 0%;
        float: left;
        text-align: left;
        margin-top: 5px;
    }
    .nav_aside a.active {
        background-color: rgb(15, 1, 26);
        color: white;
    }
}

@media(min-width: 781px) {
    #userForm1, #userForm2, #userForm3, #adminForm1, #adminForm2, #adminForm3 {
        margin-left: 30px;
    }
}

.from, .to, .byIdInput, #caseTitle, #location {
    width: 170px;
    padding: 10px;
    font-size: 15px;
    height: 30px;
    color: slategray;
    border: 2px solid slategrey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

legend {
    font-weight: 700;
    color: darkslategray;
}

.button {
    height: auto;
    color: black;
    background-color: slategray;
    border: 2px solid slategrey;
    width: 80px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

textarea{
    margin-top: 10px;
    width: 30%;
    height: 150px; 
}

@media(max-width: 780px) {
    .from, .to, .byIdInput, .selStatus, #selStat,
     #statReset, #statSubmit, #idEntry, #caseTitle, #location {
        display: block;
        width: 70%;
        margin: auto;
        text-align: center;
    }
    .button, #selStat, #statReset, #selCat {
        margin-top: 10px;
        width: 50%;
        display: block;
        margin-left: 25%
    }
    textarea{
        margin-top: 10px;
        width: 50%;
        height: 150px;
        display: block;
      
    }
}

.tableContainer {
    width: 100%
}

.table {
    overflow-x: scroll;
    width: 100%;
    display: flex;
}

.table th {
    padding: 30px
}

#footer {
    text-align: center;
    /*background-color: rgba(26, 3, 56, 0.068);*/
    background-color: rgb(15, 1, 26);
    padding: 10px 0;
    color: #185ae7;
    font-size: 15px;
    height: 35px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

a {
    text-decoration: none;
}