*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #fff;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    min-height: 100vh;

}

body {
    margin: 0 auto;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
}

header {
    padding: 10px 0;
    background-color: black;
    box-sizing: border-box;
    margin-bottom: 40px;
    border-bottom: 4px solid rgb(67, 141, 6);
    color: white;
}

header nav {
    padding: 10px;
}

header span {
    color: rgb(67, 141, 6);
    font-family: Lobster, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a.app-name {
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
    margin-left: 5px;
}

header .first-icon {
    color: #fff;
    float: right;
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-weight: lighter;
    padding-right: 5px;
}

.side-nav {
    text-align: right;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    font-family: 'Roboto Mono';
}

.side-nav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.link {
    font-size: calc(17px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 10px;
}

#icon {
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.side-nav a.link:hover {
    background-color: rgb(14, 14, 14);
}

.side-nav a.active {
    background-color: rgb(67, 141, 6);
}

.profile-top-wrapper {
    margin-top: 60px;
    margin-bottom: 200px;
    background-color: rgb(34, 34, 34);
    text-align: center;
    width: 100%;
    font-size: 13.2px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.profile-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.joined, .settings {
    padding: 10px;
    font-weight: 400;
}

.joined {
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.settings {
    position: relative;
    display: inline-block;
    width: 150px;
}

.dropbtn {
    background-color: rgb(10, 10, 10);
    opacity: 0.9;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.dropbtn span:after {
    content: "\25BC";
    float: right;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content p {
    color: white;
    text-decoration: none;
    display: block;
    padding: 12px 0;
    cursor: pointer;
}

.dropdown-content p:hover {
    background-color: rgb(10, 10, 10);
    opacity: 0.9;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: rgba(100, 100, 100);
}

.dp-wrapper {
    position: relative;
}

div.user-photo {
    margin: 1em auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #fff;
    cursor: pointer;
}

div.user-photo img{
    height: 150px;
    width: 150px;
}

div.dp-popup {
    display: none;
    background-color: #fff;
    width: 100px;
    color: black;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -50px;
    z-index: 3;
}

div.dp-popup p {
    cursor: pointer;
    padding: 2px 0px;
}

div.dp-popup p:nth-last-of-type(2) {
    border-bottom: 1px solid rgb(200, 200, 200);
}

div.dp-popup p:hover {
    background-color: rgb(10, 10, 10);
    opacity: 0.9;
    color: white;
}

.details-wrap {
    margin-top: 150px;
    padding: 10px;
    background-color: rgb(10, 10, 10);
    opacity: 0.9;
    text-align: center;
}

.details {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}

.details-right, .details-left {
    display: inline-block;
    text-align: left;
}

.details-left {
    margin-left: 20px;
}

.statistics p {
    padding: 10px 0;
    font-weight: 400;
}

.div-over-total {
    margin-top: 40px;
}

.div-over-total p {
    font-weight: bold;
}

.empty-div {
    height: 70px;
}

body .bg-design {
    width: 100%;
    height: 500px;
    position: absolute;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8) 60%, rgba(0, 0, 0, 1)), url(./images/activism.jpg);
    top: 0;
    border: none;
    float: right;
    z-index: -1;
}

body .popup-div {
    display: none;
    font-size: 13px;
    position: fixed;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}
.response, .response2, .response3{
    color: white;
    text-align: center;
}

.popup-form {
    max-width: 300px;
    position: absolute;
    margin-left: -150px;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    padding: 25px 10px;
    background-color: rgb(34, 34, 34);
}

.popup-form input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    color: black;
    background-color: rgb(238, 247, 245);
}

.popup-form .btn {
    background-color: #e80a89;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.6;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.popup-form .cancel {
    background-color: red;
}

.popup-form .btn:hover {
    opacity: 0.8
}

footer {
    background-color: #fff;
    background-color: rgb(12, 14, 15);
    color: rgb(100, 100, 100);
    font-weight: bold;
    width: 100%;
    padding: 20px 0 5px 0;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: left;
    font-size: 13px;
}

footer div:nth-of-type(1) span {
    display: inline-block;
}

footer div:nth-of-type(2) {
    margin-top: 20px;
    text-align: center;
}

footer span {
    padding: 5px;
}


@media(min-width:35em) {
    header {
        padding: 10px 0;
    }
    header nav {
        padding: 10px;
    }
    header .first-icon {
        padding-right: 5px;
    }
    .details-left {
        margin-left: 150px;
    }
    .joined, .settings {
        padding: 15px;
        font-weight: 400;
    }
    .profile-top-wrapper {
        width: 85%;
        margin-top: 90px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .details-wrap {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
}