html {
    font-family: 'Roboto Mono';
    color: #fff;
    background-color: rgb(0, 0, 0);
    background-position: center;
}

body {
    margin: 0 auto;
    background-position: center;
    box-sizing: border-box;
    overflow-x: hidden;
    background: linear-gradient( to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.8) 10%, rgba(0, 0, 0, 1)20%);
    display: flex;
    flex-direction: column;
    text-align: center;
}

header {
    padding: 10px 0;
    background-color: black;
    box-sizing: border-box;
    margin-bottom: 40px;
    border-bottom: 4px solid rgb(67, 141, 6);
    color: white;
}

header nav {
    padding: 10px;
}

header span {
    color: rgb(67, 141, 6);
    font-family: Lobster, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a.app-name {
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    float: left;
    font-weight: bolder;
}

header .first-icon {
    color: #fff;
    float: right;
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
    font-weight: lighter;
    margin-right: 15px;
}

.side-nav {
    text-align: right;
    width: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
    font-family: 'Roboto Mono';
}

.side-nav a {
    padding: 8px 32px 8px 8px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.link {
    font-size: calc(17px + (17 - 15) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 10px;
}

#icon {
    font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1600 - 300)));
}

.side-nav a.link:hover {
    background-color: rgb(14, 14, 14);
}

.side-nav a.active {
    background-color: rgb(67, 141, 6);
}

/*.heading-over-form {
    font-family: Monoton;
    font-weight: 900;
    font-size: 5vw;
    font-style: italic;
    color: #523ee8;
    word-spacing: 10px;
    letter-spacing: 3px;
    vertical-align: middle;
}*/

div.signup {
    text-align: center;
}

form {
    margin-bottom: auto;
    background: rgb(34, 34, 34);
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px;
    width: 60%;
    margin: auto;
    border-radius: 1em;
    justify-content: space-around;
    align-items: center;
}

form .form-inputs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.input-container {
    flex: 0 45%;
    font-weight: 500;
    font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
}

form .sign-up {
    font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
}

form label span {
    font-weight: 700;
}

input {
    color: rgb(0, 0, 0);
    font-weight: 500;
    max-width: 100%;
    padding-left: 5px;
    height: 40px;
    display: block;
    width: 100%;
    min-width: 192px;
    font-size: 14px;
    text-align: start;
    border-style: none;
    border-radius: 3px;
    background-color: rgb(238, 247, 245);
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

input:focus {
    outline: none;
}

.form-submit-container button[type=submit] {
    background-color: #e80a89;
    border: 1px solid #e80a89;
    width: 100%;
    font: 14px sans-serif;
    color: #fff;
    height: 40px;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

div button:hover {
    background-color: #2b050c;
}

.form-submit-container div:nth-of-type(2) {
    font-size: 13px;
    text-align: center;
    color: #fff;
}

div.returning-here a {
    color: rgb(67, 141, 6);
}

div.returning-here a:hover {
    color: #e80a89;
    text-decoration: underline;
}

/*div.returning-here a:visited{
    color: rgb(138, 12, 138);
    text-decoration: underline;
}*/

.input-errors {
    display: none;
    color: red;
    font-size: 13px;
    width: 100%;
}

footer {
    background-color: #fff;
    background-color: rgb(12, 14, 15);
    color: rgb(100, 100, 100);
    font-weight: bold;
    width: 100%;
    padding: 20px 0 5px 0;
    word-spacing: 2px;
    letter-spacing: 2px;
    text-align: left;
    font-size: 13px;
    margin-top: 40px;
}

footer div:nth-of-type(1) span {
    display: inline-block;
}

footer div:nth-of-type(2) {
    margin-top: 20px;
    text-align: center;
}

footer span {
    padding: 5px;
}

@media(max-width: 700px) {
    form {
        width: 85%;
    }
    header {
        margin-bottom: 70px;
    }
}

@media(max-width: 300px) {
    form {
        width: 60%;
    }
    input {
        min-width: 100px;
    }
}